@model caronasso.Models.Carona

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caronas Disponíveis</title>
    <link rel="stylesheet" href="~/assets/css/global.css" />
    <link rel="stylesheet" href="~/assets/css/caronas.css" />
</head>
<body>
    <main class="container" style="flex:1; display:flex; flex-direction:column;">
        <h1 class="rides-header">Deseja Confirmar a Carona?</h1>

        <!-- Motorista -->
        <section class="rides-list">
            <form asp-action="Join">
                <article class="ride-item">
                    <a asp-controller="Usuarios" asp-action="Details" asp-route-id="@Model.MotoristaId" class="driver-profile-link">
                        <div class="driver-photo">
                            <img src="~/assets/img/fotoCarro.png" alt="Foto do motorista" />
                        </div>
                        <div class="ride-info">
                            <div class="driver-name">@Model.Motorista.Nome</div>
                            <div class="route">
                                <span>@Model.Origem →</span>
                                <span>@Model.Destino</span>
                            </div>
                        </div>
                    </a>
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button class="btn-confirm">Confirmar Carona</button>
                </article>
            </form>
        </section>


        <!-- Mapa  -->
        <aside class="map-container" style="flex:1; margin-top:1rem;">
            <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-44.1529%2C-20.0386%2C-43.9529%2C-19.8386&layer=mapnik&marker=-19.9386%2C-44.0529" allowfullscreen loading="lazy"></iframe>
            <br /><small><a href="https://www.openstreetmap.org/?mlat=-19.9386&mlon=-44.0529#map=12/-19.9386/-44.0529" target="_blank" rel="noopener">Ver mapa ampliado</a></small>
        </aside>

        <script src="~/assets/js/script.js"></script>
    </main>
</body>
</html>
